<fieldset class="box tabular settings">
  <legend><%= l(:label_module_specific_customization, scope: :enhanced_ux) %></legend>
  <fieldset class="box tabular settings">
    <legend><%= l(:label_issue_index_view_customization, scope: :enhanced_ux) %></legend>
    <p class="">
      <label for="custom_issue_list">Custom issue list:</label>
      <input type="hidden" name="settings[custom_issue_list]" value="'0'">
      <%= check_box_tag 'settings[custom_issue_list]', '1', @settings[:custom_issue_list] == '1' %>
    </p>
  </fieldset>
  <fieldset class="box tabular settings">
    <legend><%= l(:label_issue_view_customization, scope: :enhanced_ux) %></legend>
    <p class="">
      <label for="custom_issue">Custom issue:</label>
      <input type="hidden" name="settings[custom_issue]" value="'0'">
      <%= check_box_tag 'settings[custom_issue]', '1', @settings[:custom_issue] == '1' %>
    </p>
    <p class="">
      <label for="copy_issue_form_link_with_data">Copy issue form link with data:</label>
      <input type="hidden" name="settings[copy_issue_form_link_with_data]" value="'0'">
      <%= check_box_tag 'settings[copy_issue_form_link_with_data]', '1', @settings[:copy_issue_form_link_with_data] == '1' %>
    </p>
    <p class="">
      <label for="fixed_submit_button">Fixed submit button:</label>
      <input type="hidden" name="settings[fixed_submit_button]" value="'0'">
      <%= check_box_tag 'settings[fixed_submit_button]', '1', @settings[:fixed_submit_button] == '1' %>
    </p>
    <p class="">
      <label for="issue_attributes_to_link">Issue attributes to link:</label>
      <input type="hidden" name="settings[issue_attributes_to_link]" value="'0'">
      <%= check_box_tag 'settings[issue_attributes_to_link]', '1', @settings[:issue_attributes_to_link] == '1' %>
    </p>
    <p class="">
      <label for="scroll_to_top_or_bottom">Scroll to top or bottom:</label>
      <input type="hidden" name="settings[scroll_to_top_or_bottom]" value="'0'">
      <%= check_box_tag 'settings[scroll_to_top_or_bottom]', '1', @settings[:scroll_to_top_or_bottom] == '1' %>
    </p>
  </fieldset>
  <fieldset class="box tabular settings">
    <legend><%= l(:label_issue_gantt_view_customization, scope: :enhanced_ux) %></legend>
    <p class="">
      <label for="enhanced_gantt_entry_click">Enhanced gantt entry click function:</label>
      <input type="hidden" name="settings[enhanced_gantt_entry_click]" value="'0'">
      <%= check_box_tag 'settings[enhanced_gantt_entry_click]', '1', @settings[:enhanced_gantt_entry_click] == '1' %>
    </p>
    <p class="">
      <label for="custom_gantt_chart">Custom gantt chart:</label>
      <input type="hidden" name="settings[custom_gantt_chart]" value="'0'">
      <%= check_box_tag 'settings[custom_gantt_chart]', '1', @settings[:custom_gantt_chart] == '1' %>
    </p>
  </fieldset>
  <fieldset class="box tabular settings">
    <legend><%= l(:label_other_view_customization, scope: :enhanced_ux) %></legend>
    <p class="">
      <label for="custom_roadmap_and_version">Custom roadmap and version:</label>
      <input type="hidden" name="settings[custom_roadmap_and_version]" value="'0'">
      <%= check_box_tag 'settings[custom_roadmap_and_version]', '1', @settings[:custom_roadmap_and_version] == '1' %>
    </p>
    <p class="">
      <label for="custom_calendar">Custom calendar:</label>
      <input type="hidden" name="settings[custom_calendar]" value="'0'">
      <%= check_box_tag 'settings[custom_calendar]', '1', @settings[:custom_calendar] == '1' %>
    </p>
    <p class="">
      <label for="custom_issue_note_list">Custom issue note list:</label>
      <input type="hidden" name="settings[custom_issue_note_list]" value="'0'">
      <%= check_box_tag 'settings[custom_issue_note_list]', '1', @settings[:custom_issue_note_list] == '1' %>
    </p>
  </fieldset>
</fieldset>

<fieldset class="box tabular settings">
  <legend><%= l(:label_wiki_customization, scope: :enhanced_ux) %></legend>
  <p class="">
    <label for="add_copy_button_to_the_pre_block">Add copy button to the pre block:</label>
    <input type="hidden" name="settings[add_copy_button_to_the_pre_block]" value="'0'">
    <%= check_box_tag 'settings[add_copy_button_to_the_pre_block]', '1', @settings[:add_copy_button_to_the_pre_block] == '1' %>
  </p>
  <p class="">
    <label for="enhanced_list_button">Enhanced list button:</label>
    <input type="hidden" name="settings[enhanced_list_button]" value="'0'">
    <%= check_box_tag 'settings[enhanced_list_button]', '1', @settings[:enhanced_list_button] == '1' %>
  </p>
  <p class="">
    <label for="image_insertion_modal">Image insertion modal:</label>
    <input type="hidden" name="settings[image_insertion_modal]" value="'0'">
    <%= check_box_tag 'settings[image_insertion_modal]', '1', @settings[:image_insertion_modal] == '1' %>
  </p>
  <p class="">
    <label for="insert_attachment_tag">Insert attachment tag:</label>
    <input type="hidden" name="settings[insert_attachment_tag]" value="'0'">
    <%= check_box_tag 'settings[insert_attachment_tag]', '1', @settings[:insert_attachment_tag] == '1' %>
  </p>
  <p class="">
    <label for="responsive_table_scroll">Responsive table scroll:</label>
    <input type="hidden" name="settings[responsive_table_scroll]" value="'0'">
    <%= check_box_tag 'settings[responsive_table_scroll]', '1', @settings[:responsive_table_scroll] == '1' %>
  </p>
</fieldset>

<fieldset class="box tabular settings">
  <legend><%= l(:label_global_customization, scope: :enhanced_ux) %></legend>
  <p class="">
    <label for="compact_notice_bar">Compact notice bar:</label>
    <input type="hidden" name="settings[compact_notice_bar]" value="'0'">
    <%= check_box_tag 'settings[compact_notice_bar]', '1', @settings[:compact_notice_bar] == '1' %>
  </p>
  <p class="">
    <label for="direct_edit_on_issue_list">Direct edit on issue list:</label>
    <input type="hidden" name="settings[direct_edit_on_issue_list]" value="'0'">
    <%= check_box_tag 'settings[direct_edit_on_issue_list]', '1', @settings[:direct_edit_on_issue_list] == '1' %>
  </p>
  <p class="">
    <label for="fix_tooltip_position">Fix tooltip position:</label>
    <input type="hidden" name="settings[fix_tooltip_position]" value="'0'">
    <%= check_box_tag 'settings[fix_tooltip_position]', '1', @settings[:fix_tooltip_position] == '1' %>
  </p>
  <p class="">
    <label for="popup_anywhere">Popup anywhere:</label>
    <input type="hidden" name="settings[popup_anywhere]" value="'0'">
    <%= check_box_tag 'settings[popup_anywhere]', '1', @settings[:popup_anywhere] == '1' %>
  </p>
  <p class="">
    <label for="show_only_opened_issues">Show only opened issues:</label>
    <input type="hidden" name="settings[show_only_opened_issues]" value="'0'">
    <%= check_box_tag 'settings[show_only_opened_issues]', '1', @settings[:show_only_opened_issues] == '1' %>
  </p>
  <p class="">
    <label for="simple_menu_bar">Simple menu bar:</label>
    <input type="hidden" name="settings[simple_menu_bar]" value="'0'">
    <%= check_box_tag 'settings[simple_menu_bar]', '1', @settings[:simple_menu_bar] == '1' %>
  </p>
  <p class="">
    <label for="two_pane_mode">Two pane mode:</label>
    <input type="hidden" name="settings[two_pane_mode]" value="'0'">
    <%= check_box_tag 'settings[two_pane_mode]', '1', @settings[:two_pane_mode] == '1' %>
  </p>
  <p class="">
    <label for="fixes_for_rtl_design">Fixes for RTL design:</label>
    <input type="hidden" name="settings[fixes_for_rtl_design]" value="'0'">
    <%= check_box_tag 'settings[fixes_for_rtl_design]', '1', @settings[:fixes_for_rtl_design] == '1' %>
  </p>
</fieldset>
